[Unit]
Description = ebf-qtdemo qtdemo
After=actlogo.service

[Service]
ExecStart = /usr/local/qt-app/run_eglfs.sh
Type = simple

[Install]
WantedBy = multi-user.target
